# https://yamllint.readthedocs.io/en/latest/configuration.html
extends: default

ignore:
    - .github/
    - deprecated/
    - other/godmode_sigma_rule.yml
    - tests/
    - unsupported/

rules:
    comments:
        require-starting-space: true
        min-spaces-from-content: 1
    comments-indentation: disable
    document-start: {present: false}
    empty-lines: {max: 2, max-start: 2, max-end: 2}
    indentation: {spaces: 4, indent-sequences: whatever}
    line-length: disable
    new-line-at-end-of-file: enable
    trailing-spaces: {}
