---
# https://yamllint.readthedocs.io/en/latest/configuration.html
extends: default
rules:
  comments: disable
  comments-indentation: disable
  document-start: disable
  empty-lines: {max: 2, max-start: 2, max-end: 2}
  indentation: disable
  line-length: disable
  new-line-at-end-of-file: disable
  trailing-spaces: disable
