## {{ version.minor }}.{{ version.major }}.{{ version.patch }} ({{ date }})

### Added

{% for item in added %}
* {{ item | indent(2) }}
{% endfor %}

### Changed

{% for item in changed %}
* {{ item | indent(2) }}
{% endfor %}

### Deprecated

{% for item in deprecated %}
* {{ item | indent(2) }}
{% endfor %}

### Removed

{% for item in removed %}
* {{ item | indent(2) }}
{% endfor %}

### Fixed

{% for item in fixed %}
* {{ item | indent(2) }}
{% endfor %}

### Security

{% for item in security %}
* {{ item | indent(2) }}
{% endfor %}

