name: Regression Tests

on: [push, pull_request, workflow_dispatch]

env:
  EVTX_BASELINE_VERSION: v0.8.3

jobs:
  true-positive-tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5

    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: '3.11'

    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pyyaml

    - name: Download evtx-sigma-checker
      run: |
        wget --no-verbose https://github.com/NextronSystems/evtx-baseline/releases/download/$EVTX_BASELINE_VERSION/evtx-sigma-checker
        chmod +x evtx-sigma-checker

    - name: Run regression tests
      run: |
        python tests/regression_tests_runner.py --rules-paths rules rules-emerging-threats rules-threat-hunting --evtx-checker ./evtx-sigma-checker --thor-config tests/thor.yml --ignore-validation
